.header{
  background-color: black;
  height: 30px;
  width: 100%;
  color:whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-header{
  color: whitesmoke;
}

.right-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color:white;
}

.right-header ul li {
  display: inline;
  margin-left:30px; 
  margin-right:50px;
  cursor: pointer;
  color:white;
}

.search{
  margin-left:450px ;
  top: 80px; /* Adjust top positioning as needed */
  position: absolute;
}
#searchbar{
  width: 250px;
  height: 25px;
}
.btn-search{
  height: 26px;
  background-color: black ;
  color:white;
  border:none;
  border-radius: 2px;
  width:70px;
  cursor: pointer;
  margin-left:2px;
}
.body {
  background-color: rgba(240, 240, 232, 0.683);
  position: relative; /* Changed to relative */
  height: 200vh;
 
}

.data{
  background-color: white;
  position: absolute;
  top:120px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
}
.history{
  background-color: rgba(240, 240, 232, 0.683);
  position: relative; /* Changed to relative */
  height: 200vh;
}
.worddeatils{
  background-color: rgba(240, 240, 232, 0.683);
  position: relative; /* Changed to relative */
  height: 200vh;
}
.data1{
  background-color: white;
  position: absolute;
  top:20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
 
}
.linkStyle {
  text-decoration: none;
  color: white;
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
